/* Inserta tu código aqui */
.visible-web {
	display: block;
}
.visible-responsive {
	display: none;
}
body { /*indicacion para nav-fixed*/
	padding-top: 70px; 
}
.fixed {
	background-color: white!important;
	border-bottom: 1px solid #D6D6D6;
}
.navbar-fixed-top ul {
    float: right;
    margin-top: 2%;
}
.navbar-fixed-top a {
	color: black;
}
.navbar-brand {
	margin-top: 10%;
	font-size: 3em;
}
.navbar-fixed-top input {
	border-radius: 0px;
    border: 1px solid black;
}
.navbar-fixed-top button {
	border-color: black;
    padding: 1px 10px;
    font-size: 21px;
}
.tab-container {
	background-color: #D6D6D6;
}
.tab ul {
	float: left;
	margin-top: 6%;
}
.navbar-toggle .icon-bar {
	background-color: black;
}
.tab a {
	color: black;
    font-size: 1.5em;
}
.tab a:hover {
	background-color: white!important;
}
.box-title h1 {
	background-color: gray;
    width: 39%;
    padding: 1%;
    color: white;
    font-size: 1.5em;
}
.article-date h5 {
	font-weight: 700;
    margin-top: 4%;
}
.article-date span {
	font-weight: 100;
    font-size: 93%;
}
.article {
	border-bottom: 1px solid #D6D6D6;
}
.article h1 {
	font-size: 1.5em;
    font-weight: 600;
}
.article p {
	text-align: justify;
    font-size: 88%;
    margin-right: 3%;
}
.article h4 {
	font-size: 1.1em;
    font-weight: 700;
    margin-top: 4%;
}
.article h4 span {
	margin-left: 11%;
}
.foto {
	background-color: #AAAAAA;
    padding: 14% 44%;
    font-size: 1.3em;
    margin-bottom: 3%;
}
.video-article {
	background-color: #D6D6D6;
}
.inside-box-title {
	width: 130%;
    padding: 0 2%;
}
.video {
	padding: 40% 0 0;
    margin: 0 2%;
    border: 1px solid black;
	background-color: white;
}
.play {
	background-color: #E6E6E6;
	padding: 1% 4%;
    border-top: 1px solid black;
}
.play .timer {
	padding: 0.7%;
    margin: 0 -5% 2% 2%;
    background-color: white;
    width: 70%;
    display: inline-block;
    border-radius: 10px;
}
.play i {
	font-size: 1.5em;
}
.play .glyphicon-heart {
	position: absolute;
	top: 21%;
    font-size: 1.1em;
    right: 53%;
}
.play .glyphicon-fullscreen {
	left: 12%;
}
.play .glyphicon-volume-up {
	left: 8%;
}
.article-video {
	padding: 0 3%;
}
.article-date-video {
	margin-left: 4%;
	margin-bottom: 3%;
    display: inline-block;
}
.vermas-video {
	float: right;
    margin-right: 3%;
}
.day {
	display: inline-block;
    background-color: #AAAAAA;
    padding: 0 2.5%;
    margin-left: 7%;
}
.day h3 {
	font-size: 1.5em;
    text-align: center;
}
.description-day {
	float: right;
	line-height: 1;
}
.description-day h6 {
	font-size: 123%;
    margin-left: -41%;
    font-weight: 600;
}
.description-day p {
	font-size: 84%;
    margin-left: -41%;
    margin-top: -2%;
}
.ml-3 {
	margin-left: 3%;
}
.border-bottom {
	padding-bottom: 4%;
	border-bottom: 1px solid #D6D6D6;
}
.informacion {
	margin-bottom: 13%;
}
.informacion h5:first-child {
	font-size: 1.7em;
    font-weight: 600;
}
.informacion span {
	font-size: 53%;
}
.informacion h5:nth-child(2) {
    font-size: 120%;
    font-weight: 700;
    margin-top: -3%;
}
.informacion h5:nth-child(3) {
	font-size: 0.9em;
    margin-top: -2%;
}
.mas-informacion a {
	color: black;
	margin-left: 3%;
	text-decoration: none;
}
.mas-informacion li {
	list-style: none;
    font-weight: 600;
}
.mas-informacion h4 {
	font-weight: 900;
    margin-left: 4%;
    margin-top: 8%;
}
.mas-informacion {
	margin-left: 4%;
	border-bottom: 1px solid #D6D6D6;
}
.magazine,
.new-generation {
	background-color: #EBEBEB;
    padding: 1% 4%;
}
.magazine h3:first-child {
	margin-top: 1%;
    font-size: 1.4em;
    margin-bottom: -7%;
}
.magazine h3:nth-child(2) {
	font-size: 1.4em;
	font-weight: 600;
}
.magazine {
	margin: 5%;
}
.magazine p {
	margin-top: -5%;
}
footer .container {
	border-top: 4px solid #444444;
}
.float-left h4 {
	font-weight: 600;
}
.float-left {
	float: left;
    border: none;
    margin-left: -1%;
    margin-right: 2%;
    margin-bottom: 3%;
}
.float-left ul {
	margin-left: -15%;
}


.visible-web {
	display: block!important;
}
.visible-responsive {
	display: none!important;
}
/*media-queries*/

@media screen and (min-width:768px) and (max-width: 1200px) {
    .visible-responsive {
    	display: block!important;
    }
    .visible-web {
    	display: none!important;
    }
    .tab a {
    	font-size: 96%;
    }
}